<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Mui-todolist/title>
  <style>
    body {
      background-image: url("https://w.wallhaven.cc/full/yj/wallhaven-yjvgxx.jpg");
    }
    h1 {
      color: white;
      margin-top: 10%;
      font-size: 10em;
    }
  </style>
</head>
<body>
  <center>
    <h1>404 Not Found</h1>
  </center>
</body>
</html>
